aiohttp~=3.13.3
chromadb~=1.5.2
langchain-text-splitters~=1.1.1
tenacity~=9.1.4
langchain~=1.2.10
langchain-openai~=1.1.10
langgraph~=1.0.10
ddgs~=9.10.0
pydantic~=2.12.5
bs4~=0.0.2
beautifulsoup4~=4.14.3
playwright~=1.58.0
pytz~=2025.2
pydantic-settings~=2.13.1
uvicorn~=0.41.0
fastapi~=0.134.0
anyio~=4.12.1
markitdown~=0.1.5
tqdm~=4.67.3